@font-face {
  font-family: "Book Antiqua V2";
  src: url("../fonts/3efd8e6a45b3f893f54399c6bf4aba68.eot"); /* IE9*/
  src: url("../fonts/3efd8e6a45b3f893f54399c6bf4aba68.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/3efd8e6a45b3f893f54399c6bf4aba68.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/3efd8e6a45b3f893f54399c6bf4aba68.woff") format("woff"), /* chrome、firefox */
  url("../fonts/3efd8e6a45b3f893f54399c6bf4aba68.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/3efd8e6a45b3f893f54399c6bf4aba68.svg#Book Antiqua V2") format("svg"); /* iOS 4.1- */
}

body{
    font-family:'Book Antiqua V2' !important;
	padding-bottom: 0 !important;
    color: #f5d76b;
    background-color: #222;
}

footer{
	background-color: #222;
	padding: 20px 0;
}

.input-inverse{
	    background-color: #252525;
    border-color: #252525;
    color: #9c9c9c;
}

.carousel-inner > .item > img{
	object-fit: cover;
}

.carousel{
	    margin-top: -20px;
}

.carousel-caption {
    padding-bottom: 120px;
}

.img-circle{
	object-fit: cover;
}

.main-text
{
    position: absolute;
    top: 80px;
    width: 96.66666666666666%;
    color: #FFF;

}

@media screen and (max-width : 768px) {
    .main-text
    {
        position: absolute;
        top: 160px;
        width: 96.66666666666666%;
        color: #FFF;
    }
}

.main-text h1, .main-text h3{
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
    font-weight: bolder !important;
}
.carousel-control{
	z-index: 2;
}

.main-text img{
    max-height: 300px;
    display: inline-block;stroke: 
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: none;
    text-align: center;
}

.galeria{
	overflow: hidden !important;
}

.navbar{
	padding: 20px 0;
}

p{
    font-size: 16px;
}